<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ab Initio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Gebruiker1", "logIn", "Home",new { accountId = 1}, null)</li>
                    <li>@Html.ActionLink("Gebruiker2", "logIn", "Home",new { accountId = 2}, null)</li>
                    <li>@Html.ActionLink("Betaalde gebruiker", "BetaaldeGebruiker", "Personen")</li>
                    <li>@Html.ActionLink("Beheer", "Index", "Beheer")</li>   
                    <li>@Html.ActionLink("Log uit", "logIn", "Home", new { accountId = 0 }, null)</li>               
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ab Initio</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/BeheerFunctions.js"></script>
    <script src="~/Scripts/AbInitioFunctions.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
