@model AbInitio.Web.Models.AanvullendPersoonModel
@{
    ViewBag.Title = "AanvullendPersonen";
}

<div class="beheertab_content">
    <div class="row">
        <div class="col-md-12">
            <p>Persoon:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>@Model.persoonid voornaam</p>
        </div>
        <div class="col-md-2">
            <p>@Model.persoonid achternaam</p>
        </div>
        <div class="col-md-2">
            <p>@Model.persoonid geboortedatum</p>
        </div>
    </div>
    <table class="table table-striped">
        <tr>
            <th>
                Informatie Type
            </th>
            <th>
                Beschrijving
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.aanvullendPersoonInformatieLijst)
        {
            <tr>
                <td>
                    @item.persooninformatietypeid
                </td>
                <td>
                    @item.persooninformatie
                </td>
                <td class="actions">
                    <a class="wijzig_persoon" href="@(Url.Action("WijzigAanvullendPersoon", "AanvullendPersoon", new { aanvullendepersooninformatieid = item.aanvullendepersooninformatieid }))">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="delete_link" href="#" data-persoonid="@item.aanvullendepersooninformatieid" data-toggle="modal" data-target="#confirm-delete">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Terug", "PersoonDetails", "Beheer", new {persoonid = Model.persoonid }, new { @class = "btn btn-primary btn-block" })
    </div>
    <div class="col-md-3 col-md-push-5">
        @Html.ActionLink("Informatie toevoegen", "NieuwAanvullendPersoon", "AanvullendPersoon", new {persoonid = Model.persoonid }, new { @class = "btn btn-primary btn-block" })
    </div>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="@Url.Action("VerwijderAanvullendPersoon", "AanvullendPersoon")" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" id="persoonid" name="persoonid" />
                <div class="modal-header">
                    <p>Verwijder persoon</p>
                </div>
                <div class="modal-body">
                    <p>Persoon verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Verwijderen" />
                </div>
            </form>
        </div>
    </div>
</div>



