@model AbInitio.Web.Models.AanvullendPersoonModel
@{
    ViewBag.Title = "AanvullendPersonen";
}

<div class="beheertab_content">
    <div class="row">
        <div class="col-md-12">
            <p>Persoon:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>@Model.persoonid voornaam</p>
        </div>
        <div class="col-md-2">
            <p>@Model.persoonid achternaam</p>
        </div>
        <div class="col-md-2">
            <p>@Model.persoonid geboortedatum</p>
        </div>
    </div>
    <table class="table table-striped">
        <tr>
            <th>
                Informatie Type
            </th>
            <th>
                Beschrijving
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.aanvullendPersoonInformatieLijst)
        {
            <tr>
                <td>
                    @item.persooninformatietypeid
                </td>
                <td>
                    @item.persooninformatie
                </td>
                <td class="actions">
                    @using (Html.BeginForm("GetWijzigAanvullendPersoon", "AanvullendPersoon", FormMethod.Post, new { @class = "col-md-1", @style = "padding:0px" }))
                    {
                        <span>
                            <button type="submit" class="btn btn-link" style="padding:0px" id="aanvullendPersoonInformatieId" name="aanvullendPersoonInformatieId" value="@item.aanvullendepersooninformatieid">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </span>
                    }
                    <div class="col-md-1" style="padding:0px">
                        <a class="delete_link" id="aanvullendepersooninformatieidDelete-@item.aanvullendepersooninformatieid" href="#" value="@item.aanvullendepersooninformatieid" data-toggle="modal" data-target="#confirm-delete" onclick="setHiddenField('aanvullendepersooninformatieid-' + @item.aanvullendepersooninformatieid)">
                            <input type="hidden" id="aanvullendepersooninformatieid-@item.aanvullendepersooninformatieid" value="@item.aanvullendepersooninformatieid" />
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
<div class="row">
    @using (Html.BeginForm("PersoonDetails", "Beheer", FormMethod.Post, new { @class = "col-md-4", @style = "padding:0px" }))
    {
        <span>
            <button type="submit" class="btn btn-primary btn-block" id="persoonid" name="persoonid" value="@Model.persoonid">
                Terug
            </button>
        </span>
    }
    <div class="col-md-3 col-md-push-5">
        @using (Html.BeginForm("GetNieuwAanvullendPersoon", "AanvullendPersoon", FormMethod.Post, new {  }))
        {
            <button type="submit" class="btn btn-primary btn-block" id="persoonid" name="persoonid" value="@Model.persoonid">Aanvullende Informatie toevoegen</button>
        }
    </div>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="@Url.Action("VerwijderAanvullendPersoon", "AanvullendPersoon")" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" id="Hidden" name="aanvullendPersoonInformatieId" />
                <input type="hidden" id="persoonid" name="persoonid" value="@Model.persoonid" />
                <div class="modal-header">
                    <p>Verwijder persoon</p>
                </div>
                <div class="modal-body">
                    <p>Persoon verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Verwijderen" />
                </div>
            </form>
        </div>
    </div>
</div>



