@model AbInitio.Web.Models.AanvullendPersoonModel

@{
    ViewBag.Title = "Nieuw aanvullende persoon informatie";
}

<h2>Nieuw Persoon</h2>

@using (Html.BeginForm("NieuwAanvullendPersoon", "AanvullendPersoon", FormMethod.Post))
{

    <div class="form-horizontal">
        <h4>Persoon</h4>
        <hr />

        @Html.Hidden("persoonid")

        <div class="form-group">
            @Html.Label("aanvullendPersoonInformatieType", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("persooninformatietypeid", Model.aanvullendPersoonInformatieTypes, "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Datum precisie", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 precisieAv">
                @Html.DropDownList("datumPrecisie", Model.datumPrecisies, "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group van" style="display:none">
            @Html.Label("Van", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" id="vanText" name="van" />
            </div>
        </div>

        <div class="form-group tot" style="display:none">
            @Html.Label("Tot", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" id="totText" name="tot" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Persoon Informatie", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" name="persooninformatie" />
            </div>
        </div>

        <div class="form-group">
            @using (Html.BeginForm("AanvullendPersoonlijst", "AanvullendPersoon", FormMethod.Post, new { @class = "col-md-3" }))
            {
                <button type="submit" class="btn btn-primary btn-block" id="persoonid" name="persoonid" value="@Model.persoonid">Terug naar overzicht</button>
            }
            <div class="col-md-2">
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        </div>
    </div>
}
