@model AbInitio.Web.Models.AanvullendPersoonModel

@{
    ViewBag.Title = "Wijzig aanvullende persoon informatie";
}

<h2>Nieuw Persoon</h2>

@using (Html.BeginForm("WijzigAanvullendPersoon", "AanvullendPersoon", FormMethod.Post))
{

    <div class="form-horizontal">
        <h4>Persoon</h4>
        <hr />

        @Html.Hidden("persoonid")
        @Html.Hidden("aanvullendPersoonInformatieId")
        @Html.Hidden("gewijzigdOp")

        <div class="form-group">
            @Html.Label("aanvullendPersoonInformatieType", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("persooninformatietypeid", Model.aanvullendPersoonInformatieTypes, "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Datum precisie", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 precisieAv">
                @Html.DropDownList("datumPrecisie", Model.datumPrecisies, "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group van" style="display:none">
            @Html.Label("Van", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" id="vanText" name="van" value="@Model.van" pattern = "([0-9]{2}[-/][0-9]{2}[-/][0-9]{4})" title = "Voer datum in volgens notatie dd-MM-yyyy."/>
            </div>
        </div>

        <div class="form-group tot" style="display:none">
            @Html.Label("Tot", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" id="totText" name="tot" value="@Model.tot" pattern = "([0-9]{2}[-/][0-9]{2}[-/][0-9]{4})" title = "Voer datum in volgens notatie dd-MM-yyyy."/>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Persoon Informatie", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" name="persooninformatie" value="@Model.persooninformatie"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <button type="button" class="btn btn-default" onclick="location.href = 'AanvullendPersoon/OverzichtAanvullendPersoon'">Terug naar overzicht</button>
            </div>
            <div class="col-md-2">
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        </div>
    </div>
}
