@model System.Collections.Generic.List<AbInitio.Web.Models.StamboomModel>

@{
    ViewBag.Title = "OverzichtStambomen";
}

<h2>Mijn Stambomen</h2>

<div class="col-md-3">
    @Html.ActionLink("Eigen Stambomen", "EigenStamboom", "Stamboom", new { }, new { @class = "btn btn-primary btn-block" })
</div>
<div class="col-md-3 col-md-push-6">
    @Html.ActionLink("Collaboraties", "CollaboratieStamboom", "Stamboom", new { }, new { @class = "btn btn-primary btn-block" })
</div>
</br></br>

<table class="table table-striped">
    <br />
    <tr>
        <th>
            familienaam
        </th>
        <th>
            
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.familieNaam, "Stamboom", new { stamboomId = item.stamboomId })
                </td>
                <td class="actions">
                    <a class="detail-persoon" href="@(Url.Action("Stamboom", "Stamboom", new  { stamboomid = item.stamboomId }))">
                        <span class="glyphicon glyphicon-book"></span>
                    </a>
                    <a class="wijzig_persoon" href="@(Url.Action("Schakelbord", "Home", new { stamboomid = item.stamboomId }))">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="delete_link" href="#" data-persoonid="@item.stamboomId" data-toggle="modal" data-target="#confirm-delete">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        }
    }
</table>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="@Url.Action("VerwijderStamboom", "Stamboom")" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" id="stamboomId" name="stamboomid" />
                <div class="modal-header">
                    <p>Verwijder stamboom</p>
                </div>
                <div class="modal-body">
                    <p>Stamboom verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Verwijderen" />
                </div>
            </form>
        </div>
    </div>
</div>
