@model System.Collections.Generic.List<AbInitio.Web.Models.StamboomModel>

@{
    ViewBag.Title = "OverzichtStambomen";
}

<h2>Mijn Stambomen</h2>

@using (Html.BeginForm("eigenStambomen", "Stamboom", FormMethod.Post, new { @class = "col-md-3" }))
{
    <button type="submit" class="btn btn-primary btn-block" >Eigen Stambomen</button>
}
@using (Html.BeginForm("overzichtStambomen", "Stamboom", FormMethod.Get, new { @class = "col-md-4 col-md-push-1" }))
{
    <button type="submit" class="btn btn-primary btn-block">Alle Stambomen</button>
}
@using (Html.BeginForm("collaboratieStambomen", "Stamboom", FormMethod.Post, new { @class = "col-md-3 col-md-push-2" }))
{
    <button type="submit" class="btn btn-primary btn-block">Collaboratie Stambomen</button>
}
</br></br>
    
<table class="table table-striped">
    <br />
    <tr>
        <th style="width:70%">
            familienaam
        </th>
        <th style="width:30%">
            
        </th>
    </tr>

        @if (Model != null)
        {
            foreach (var item in Model)
            {
            <tr>
                <td>
                    <p>@item.familieNaam</p>
                </td>
                <td class="actions">
                    @using (Html.BeginForm("Stamboom", "Stamboom", FormMethod.Post, new { @class = "col-md-1", @style = "padding:0px" }))
                    {
                        <span>
                            <button type="submit" class="btn btn-link" style="padding:0px" id="stamboomid" name="stamboomid" value="@item.stamboomId">
                                <span class="glyphicon glyphicon-book"></span>
                            </button>
                        </span>
                    }
                    @using (Html.BeginForm("Schakelbord", "Home", FormMethod.Post, new { @class = "col-md-1", @style = "padding:0px" }))
                    {
                        <span>
                            <button type="submit" class="btn btn-link" style="padding:0px" id="stamboomid" name="stamboomid" value="@item.stamboomId">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </span>
                    }
                    <div class="col-md-1" style="padding:0px">
                        <a class="delete_link" href="#" data-persoonid="@item.stamboomId" data-toggle="modal" data-target="#confirm-delete">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </td>
            </tr>
            
        }
    }
</table>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="@Url.Action("VerwijderStamboom", "Stamboom")" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" id="stamboomId" name="stamboomid" />
                <div class="modal-header">
                    <p>Verwijder stamboom</p>
                </div>
                <div class="modal-body">
                    <p>Stamboom verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Verwijderen" />
                </div>
            </form>
        </div>
    </div>
</div>
