@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ab Initio</h1>
    <p class="lead">De website om jouw verleden te mappen</p>
</div>

<div class="row col-lg-offset-3">
    <div class="col-md-4">
        <h2  class="text-center">Persoon beheren</h2>
        <div class="btn-toolbar">
            @Html.ActionLink("Persoon toevoegen", "NieuwPersoon", "Persoon", new { } ,new { @class = "btn btn-primary btn-block" })
            @Html.ActionLink("Persoon wijzigen", "Personen", "Beheer", new { }, new { @class = "btn btn-primary btn-block" })
        </div>
    </div>
    <div class="col-md-4">
        <h2  class="text-center">Relaties beheren</h2>
        <div class="btn-toolbar">
            @Html.ActionLink("Relatie toevoegen", "ToevoegenRelatie", "Beheer", new { }, new { @class = "btn btn-primary btn-block" })
            @Html.ActionLink("Relatie wijzigen", "WijzigRelatie", "Beheer", new { }, new { @class = "btn btn-primary btn-block" })
        </div>
    </div>
</div>
<div class="row col-lg-offset-3">
    <div class="col-md-4">
        <h2 class="text-center">Zoeken</h2>
        <div class="btn-toolbar">
            @Html.ActionLink("Persoon zoeken", "Zoeken", "Zoek", new { }, new { @class = "btn btn-primary btn-block" })
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Stamboomen</h2>
        <div class="btn-toolbar">
            @Html.ActionLink("Overicht stambomen", "overzichtStambomen", "Stamboom", new { }, new { @class = "btn btn-primary btn-block" })
            @Html.ActionLink("Maak stamboom aan", "maakStamboom", "Stamboom", new { }, new { @class = "btn btn-primary btn-block" })
        </div>
    </div>
</div>

