@model AbInitio.Web.ViewModels.BeheerViewModel

<div class="beheertab_content">
    <table class="table table-striped">
        <tr>
            <th>
                Voornaam
            </th>
            <th>
                Tussenvoegsel
            </th>
            <th>
                Achternaam
            </th>
            <th>
                Geboortenaam
            </th>
            <th>
                Geslacht
            </th>
            <th>
                Status
            </th>
            <th>
                Geboortedatum
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.PersoonLijst)
        {
            <tr>
                <td>
                    @item.voornaam
                </td>
                <td>
                    @item.tussenvoegsel
                </td>
                <td>
                    @item.achternaam
                </td>
                <td>
                    @item.geboortenaam
                </td>
                <td>
                    @{ 
                        if(@item.geslacht == "M")
                        {
                            <p>Man</p>
                        } else if(@item.geslacht == "V")
                        {
                            <p>Vrouw</p>
                        } else
                        {

                        }
                    }
                </td>
                <td>
                    @{ 
                        if(@item.status == "True")
                        {
                            <p>Levend</p>
                        } else if(@item.status == "False")
                        {
                            <p>Overleden</p>
                        } else
                        {

                        }
                    }
                </td>
                <td>
                    @{ 
                        if(@item.geboorteprecisie == "tussen")
                        {
                            <p>@item.geboorteprecisie  @item.geefDatum en @item.geefDatum2</p>
                        } else
                        {
                            <p>@item.geboorteprecisie @item.geefDatum</p>
                        }
                    }
                    
                </td>
                <td class="actions">
                    <a class="detail-persoon" href="@(Url.Action("PersoonDetails", "Beheer", new  { persoonid = item.persoonid }))">
                        <span class="glyphicon glyphicon-book"></span>
                    </a>
                    <a class="wijzig_persoon" href="@(Url.Action("WijzigPersoon", "Persoon", new { persoonid = item.persoonid }))">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="delete_link" href="#" data-persoonid="@item.persoonid" data-toggle="modal" data-target="#confirm-delete">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>