@model AbInitio.Web.ViewModels.BeheerViewModel

<div class="beheertab_content">
    <table class="table table-striped">
        <tr>
            <th>
                Naam
            </th>
            <th>
                Relatie type
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.PersoonLijst)
        {
            <tr>
                <td>
                    @item.GeefVolledigeNaam
                </td>
                <td>
                    @item.RelatieType
                </td>                
                <td class="actions">
                    <a class="relatie_link" href="@(Url.Action("AanvullendeRelatieInfo", "Beheer", new { relatieid = item.RelatieID }))">
                        <span class="glyphicon glyphicon-book"></span>
                    </a>
                    <a class="avr_link" href="@(Url.Action("ToevoegenAvr", "Beheer", new { relatieid = item.RelatieID }))">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <a class="wijzig_link" href="@(Url.Action("WijzigRelatie", "Beheer", new { relatieid = item.RelatieID }))">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="delete_link" href="@(Url.Action("VerwijderRelatie", "Beheer", new { relatieid = item.RelatieID }))">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
