@model AbInitio.Web.Models.RelatieModel
@{
    ViewBag.Title = "AanvullendeRelatieInfo";
}

<h2>AanvullendeRelatieInfo</h2>

<p>Relatie tussen:</p>
<p>@(Model.persoon1.GeefVolledigeNaam + " " + Model.persoon1.geboortedatum)</p>
<p>@(Model.persoon2.GeefVolledigeNaam + " " + Model.persoon2.geboortedatum)</p>
<p>Relatietype: @(Model.Relatie.RelatieType)</p>
<hr />

<p>
    <a href="@Url.Action("ToevoegenAvr", "Beheer", new { relatieid = Model.relatieid })">Toevoegen aanvullende relatie</a>
</p>
<table class="table">
    <tr>
        <th>
            Relatietype
        </th>
        <th>
            Relatieinformatie
        </th>
        <th>Datum(s)</th>
        <th></th>
    </tr>
    @foreach (var item in Model.AvrLijst) {
        <tr>
            <td>
                @item.AVInfoType
            </td>
            <td>
                @item.relatieinformatie
            </td>
            <td>
                @item.geefDatum
            </td>
            <td class="actions">
                <a class="detail_avr" href="@(Url.Action("AvrDetails", "Beheer", new  { avrid = item.aanvullenderelatieinformatieid }))">
                    <span class="glyphicon glyphicon-book"></span>
                </a>
                <a class="wijzig_persoon" href="@(Url.Action("WijzigAvr", "Beheer", new { avrid = item.aanvullenderelatieinformatieid }))">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="delete_link" href="#" data-avrid="@item.aanvullenderelatieinformatieid" data-toggle="modal" data-target="#confirm-delete">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Terug naar persoon", "PersoonDetails", new { persoonid = Model.Relatie.persoonid1 })


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="@Url.Action("VerwijderAvr", "Beheer")" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" value="@Model.Relatie.relatieid" name="relatieid" id="relatieid" />
                <input type="hidden" value=""  name="avrid"  id="avrid" />
                <div class="modal-header">
                    <p>Relatie informatie</p>
                </div>
                <div class="modal-body">
                    <p>Aanvullende relatie informatie verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuleer</button>
                    <input type="submit" class="btn btn-danger" value="Verwijderen" />
                </div>
            </form>
        </div>
    </div>
</div>
