@model AbInitio.Web.Models.RelatieModel
@{
    ViewBag.Title = "AanvullendeRelatieInfo";
}

<h2>AanvullendeRelatieInfo</h2>

<p>Relatie tussen:</p>
<p>@(Model.persoon1.GeefVolledigeNaam + " " + Model.persoon1.geboortedatum)</p>
<p>@(Model.persoon2.GeefVolledigeNaam + " " + Model.persoon2.geboortedatum)</p>
<p>Relatietype: @(Model.Relatie.RelatieType)</p>
<hr />

<p>
    <a href="@Url.Action("ToevoegenAvr", "Beheer", new { relatieid = Model.relatieid })">Toevoegen aanvullende relatie</a>
</p>
<table class="table">
    <tr>
        <th>
            Relatietype
        </th>
        <th>
            Relatieinformatie
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.AvrLijst) {
        <tr>
            <td>
                @item.AVInfoType
            </td>
            <td>
                @item.relatieinformatie
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id=item.aanvullenderelatieinformatieid }) |
                @Html.ActionLink("Details", "Details", new { id=item.aanvullenderelatieinformatieid }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.aanvullenderelatieinformatieid })
            </td>
        </tr>
    }

</table>
