@model AbInitio.Web.ViewModels.BeheerViewModel

@{
    ViewBag.Title = "Alle personen";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Voornaam
        </th>
        <th>
            Overige namen
        </th>
        <th>
            Tussenvoegsel
        </th>
        <th>
            Achternaam
        </th>
        <th>
            Achtervoegsel
        </th>
        @*<th>
                @Html.Display("geboortenaam")
            </th>
            <th>
                @Html.Display("geslacht")
            </th>
            <th>
                @Html.Display("status")
            </th>
            <th>
                @Html.Display("geboortedatum")
            </th>
            <th>
                @Html.Display("geboorteprecisie")
            </th>
            <th>
                @Html.Display("geboortedatum2")
            </th>
            <th>
                @Html.Display("geboorteplaats")
            </th>
            <th>
                @Html.Display("adress")
            </th>
            <th>
                @Html.Display("beroep")
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model.PersoonLijst)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.overigenamen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tussenvoegsel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.achternaam)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.achtervoegsel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.geboortenaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.geslacht)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.geboortedatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.geboorteprecisie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.geboortedatum2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.geboorteplaats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.beroep)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.persoonid }) |
                @Html.ActionLink("Details", "Details", new { id = item.persoonid }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.persoonid })
            </td>
        </tr>
    }

</table>
