@model AbInitio.Web.ViewModels.BeheerViewModel

@{
    ViewBag.Title = "AvrDetails";
}

<div>
    <h4>WijzigAvrModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(Model.AvrRelatie.relatieinformatie)
        </dt>

        <dd>
            @Html.Display(Model.AvrRelatie.relatieinformatie)
        </dd>

        <dt>
            @Html.DisplayName(Model.AvrRelatie.datumVan)
        </dt>

        <dd>
            @Html.Display(Model.AvrRelatie.datumVan)
        </dd>
        <dt>
            @Html.DisplayName(Model.AvrRelatie.datumPrecisie)
        </dt>

        <dd>
            @Html.Display(Model.AvrRelatie.datumPrecisie)
        </dd>

        <dt>
            @Html.DisplayName(Model.AvrRelatie.datumTot)
        </dt>

        <dd>
            @Html.Display(Model.AvrRelatie.datumTot)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzig", "WijzigAvr", new { avrid = Model.AvrRelatie.aanvullenderelatieinformatieid}) |
    @Html.ActionLink("Terug naar relatie", "AanvullendeRelatieInfo", new { relatieid = Model.AvrRelatie.relatieid })
</p>
