@model AbInitio.Web.ViewModels.BeheerViewModel

@{
    ViewBag.Title = "AvrDetails";
}

@using (Html.BeginForm("Schakelbord", "Home", FormMethod.Post, new { @class = "col-md-3 col-md-push-9" }))
{
    <button type="submit" class="btn btn-primary btn-block" id="stamboomid" name="stamboomid" value="@Session["stamboomid"]">Mijn Stamboom</button>
}

<div>
    <h4>WijzigAvrModel</h4>
    <hr />
    <p>Informatie : @Model.AvrRelatie.relatieinformatie</p>
    <p>Datum: @Model.AvrRelatie.geefDatum</p>
</div>
<p>
    @Html.ActionLink("Wijzig", "WijzigAvr", new { avrid = Model.AvrRelatie.aanvullenderelatieinformatieid}) |
    @Html.ActionLink("Terug naar relatie", "AanvullendeRelatieInfo", new { relatieid = Model.AvrRelatie.relatieid })
</p>
