@model AbInitio.Web.ViewModels.BeheerViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Beheer - Ab Initio</h2>
<p>Stambomen</p>
<div class="row">
    <ul class="nav nav-tabs beheer_tabs">
        <li role="presentation" class="beheertab"><a href="@(Url.Action("Index"))">Stambomen</a></li>
        <li role="presentation" class="beheertab"><a href="@(Url.Action("Personen"))">Personen</a></li>
        <li role="presentation" class="beheertab"><a href="@(Url.Action("Relaties"))">Relaties</a></li>
        <li role="presentation" class="beheertab"><a href="@(Url.Action("Accounts"))">Accounts</a></li>
        <li role="presentation" class="beheertab"><a href="@(Url.Action("Historie"))">Historie</a></li>
    </ul>
    @Html.Partial("_Stambomen", Model)
</div>


