@model AbInitio.Web.ViewModels.MatchViewModel
@{
    ViewBag.Title = "MatchPersoon";
}

@using (Html.BeginForm("Schakelbord", "Home", FormMethod.Post, new { @class = "col-md-3 col-md-push-9" }))
{
    <button type="submit" class="btn btn-primary btn-block" id="stamboomid" name="stamboomid" value="@Session["stamboomid"]">Mijn Stamboom</button>
}

@if (Model.FoundMatch)
{

    <div>
        <h4>persoon</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Voornaam
            </dt>

            <dd>
                @Model.Persoon.voornaam
            </dd>

            <dt>
                Overige namen
            </dt>

            <dd>
                @Model.Persoon.overigenamen
            </dd>

            <dt>
                Tussenvoegsel
            </dt>

            <dd>
                @Model.Persoon.tussenvoegsel
            </dd>

            <dt>
                Achternaam
            </dt>

            <dd>
                @Model.Persoon.achternaam
            </dd>

            <dt>
                Achtervoegsel
            </dt>

            <dd>
                @Model.Persoon.achtervoegsel
            </dd>

            <dt>
                Geboortenaam
            </dt>
            <dd>
                @Model.Persoon.geboortenaam
            </dd>

            <dt>
                Geslacht
            </dt>

            <dd>
                @(Model.Persoon.GeefGeslacht)
            </dd>

            <dt>
                Status
            </dt>

            <dd>
                @Model.Persoon.geefStatus
            </dd>

            <dt>
                Geboortedatum
            </dt>

            <dd>
                @Model.Persoon.geefDatum
            </dd>


        </dl>
    </div>

    <a href="@Url.Action("MatchPersoon", "Beheer")" role="button" class="btn btn-primary">Opnieuw matchen</a>

    <h2>MatchPersoon</h2>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Naam</th>
                <th>Overige namen</th>
                <th>Achtervoegsel</th>
                <th>Geslacht</th>
                <th>Geboortenaam</th>
                <th>Geboren</th>
                <th>Match op kolom</th>
                <th>Totaal Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MatchLijst)
                {
                <tr>
                    <td>@item.persoonid</td>
                    <td>
                        @item.GeefVolledigeNaam
                    </td>
                    <td>
                        @item.overigenamen
                    </td>
                    <td>
                        @item.achtervoegsel
                    </td>
                    <td>
                        @item.GeefGeslacht
                    </td>
                    <td>
                        @item.geboortenaam
                    </td>
                    <td>
                        @item.geefDatum
                    </td>
                    <td>
                        @item.MatchKolommen
                    </td>
                    <td>
                        @item.TotaalScore
                    </td>
                </tr>
            }
        </tbody>
    </table>

            <input type="submit" class="btn btn-default" value="Match" />


}
else
{

    <h2>MatchPersoon</h2>
    <form role="form" action="@Url.Action("MatchPersoon", "Beheer")" method="get" class="form-inline">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Kekule Nummer</th>
                    <th>Naam</th>
                    <th>Overige namen</th>
                    <th>Achtervoegsel</th>
                    <th>Geslacht</th>
                    <th>Geboortenaam</th>
                    <th>Geboren</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PersonenInStamboom)
                {
                    <tr>
                        <td><input type="radio" name="persoonid" value="@item.persoonid" /></td>
                        <td>
                            @item.KekuleID
                        </td>
                        <td>
                            @item.GeefVolledigeNaam
                        </td>
                        <td>
                            @item.overigenamen
                        </td>
                        <td>
                            @item.achtervoegsel
                        </td>
                        <td>
                            @item.GeefGeslacht
                        </td>
                        <td>
                            @item.geboortenaam
                        </td>
                        <td>
                            @item.geefDatum
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="submit" class="btn btn-default" value="Match" />
    </form>
}