@model AbInitio.Web.ViewModels.MatchViewModel
@{
    ViewBag.Title = "MatchPersoon";
}

<h2>MatchPersoon</h2>
<form role="form">
    <div class="form-group">
        <label class="control-label" for="exampleInputEmail">Voornaam</label>
        <input type="text" class="form-control" id="voornaam" placeholder="Voornaam">
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    Kekule Nummer
                </th>
                <th>
                    Voornaam
                </th>
                <th>
                    Tussenvoegsel
                </th>
                <th>
                    Achternaam
                </th>
                <th>
                    Geboortedatum
                </th>
                <th>
                    Trouwdatum
                </th>
                <th>
                    Overlijdingsdatum
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PersonenInStamboom)
            {
                <tr>
                    <td><input type="radio" name="persoonid" value="@item.persoonId" /></td>
                    <td>
                        @item.kekuleId
                    </td>
                    <td>
                        @item.voornaam
                    </td>
                    <td>
                        @item.tussenvoegsel
                    </td>
                    <td>
                        @item.achternaam
                    </td>
                    <td>
                        @item.geboortePrecisie @if (@item.geboortedatum != null)
                        { @item.geboortedatum.ToString().Substring(0, 9)} @if (@item.geboortedatum2 != null)
                        { <span> en @item.geboortedatum2.ToString().Substring(0, 9)</span>}
                    </td>
                    <td>
                        @item.trouwdatum
                    </td>
                    <td>
                        @item.overlijdingsdatum
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-default">Match</button>
</form>