@model AbInitio.Web.ViewModels.BeheerViewModel

@{
    ViewBag.Title = "PersoonDetails";
}

<h2>PersoonDetails</h2>

<div>
    <h4>persoon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Voornaam
        </dt>

        <dd>
            @Model.Persoon.voornaam
        </dd>

        <dt>
            Overige namen
        </dt>

        <dd>
            @Model.Persoon.overigenamen
        </dd>

        <dt>
            Tussenvoegsel
        </dt>

        <dd>
            @Model.Persoon.tussenvoegsel
        </dd>

        <dt>
            Achternaam
        </dt>

        <dd>
            @Model.Persoon.achternaam
        </dd>

        <dt>
            Achtervoegsel
        </dt>

        <dd>
            @Model.Persoon.achtervoegsel
        </dd>

        <dt>
            Geboortenaam
        </dt>
        <dd>
            @Model.Persoon.geboortenaam
        </dd>

        <dt>
            Geslacht
        </dt>

        <dd>
            @(Model.Persoon.GeefGeslacht)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Model.Persoon.geefStatus
        </dd>

        <dt>
            Geboortedatum
        </dt>

        <dd>
            @Model.Persoon.geefDatum
        </dd>
    </dl>
</div>
<p>
    @using (Html.BeginForm("WijzigPersoon", "Persoon", FormMethod.Post, new { @class = "col-md-3" }))
    {
        <button type="submit" class="btn btn-primary btn-block" id="persoonId" name="persoonId" value="@Model.Persoon.persoonid">Wijzig Persoon</button>
    }
    @using (Html.BeginForm("AanvullendPersoonlijst", "AanvullendPersoon", FormMethod.Post, new { @class = "col-md-3" }))
    {
        <button type="submit" class="btn btn-primary btn-block" id="persoonid" name="persoonid" value="@Model.Persoon.persoonid">Aanvullende Informatie</button>
    }

    <a class="btn btn-primary" href="@(Url.Action("ToevoegenRelatie", "Beheer", new { stamboomid = Session["stamboomid"] }))">Nieuwe relatie</a>
   
</p>
<div class="row">

    <hr />
    @Html.Partial("_RelatiesTotPersoon", Model)
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="@Url.Action("VerwijderRelatie", "Beheer")" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" value="@Model.Persoon.persoonid" id="persoonid" name="persoonid" />
                <input type="hidden" id="Hidden" name="relatieid" />
                <div class="modal-header">
                    <p class="text-info">Relatie verwijderen</p>                    
                </div>
                <div class="modal-body">
                    <p class="text-danger">Wil je deze relatie zeker weten verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Verwijderen" />
                </div>
            </form>
        </div>
    </div>
</div>