@model AbInitio.Web.Models.RelatieModel
@{
    ViewBag.Title = "ToevoegenRelatie";
}

<h2>ToevoegenRelatie</h2>

@using (Html.BeginForm("ToevoegenRelatie", "Beheer", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@Model.StamboomdID" name="StamboomdID" />
    <div class="form-horizontal">
        <h4>relatie</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Personen", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="persoon1" type=text readonly value="@Model.persoon1.GeefVolledigeNaam" class = "form-control" >
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Relatietypes", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("relatietypeid", Model.Relatietypes, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Personen", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("persoonid2", Model.Personen, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-default" href="@Url.Action("BeheerStamboom", "Beheer", new { stamboomid = Model.StamboomdID })">Terug</a>
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
